<p>
    <mat-toolbar class="toolbar" color="primary">

        <button style="background-color: var(--primary); border: none;" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon class="icon-sanduiche">menu</mat-icon>
        </button>    
        <a  routerLink="" routerLinkActive="selected">
            <img class="logo" src="../../../assets/images/logo.png" alt="Logo da Loja Top Móveis">
        </a>
      
      
    </mat-toolbar>
</p>


  