.example-spacer {
    flex: 1 1 auto;  
}

.toolbar{
    background-color: var(--primary);
    height: 130px;
}

.icon-sanduiche{
    color: #fff;
    background-color: var(--primary);
}

.logo{
    width: 120px;
    height: 90px;
}
