<mat-accordion class="example-headers-align">
  <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
          <mat-panel-title >
              Lista de Produtos
          </mat-panel-title>
      </mat-expansion-panel-header>
      

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px" >
          <mat-form-field floatLabel="always"   fxFlex="1 1 auto" appearance="outline">
              <mat-label>Nome</mat-label>
              <input type="text" matInput
                      placeholder="Informe o nome do produto" [(ngModel)]="data.data.Name">
          </mat-form-field>

          <mat-checkbox [(ngModel)]="data.data.FeaturedProduct" name="Produto em Destaque">Produto em Destaque</mat-checkbox>
          <mat-checkbox [(ngModel)]="data.data.inactive" name="Inativo">Inativo</mat-checkbox>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px" class="flex"  >
          <div class="btn-filter">
              <button mat-flat-button class="botao-salvar btn-search" (click)="pesquisar()">Pesquisar</button>
              <button mat-flat-button class="botao-cancelar btn-search" style="margin-left: 0px;" (click)="limpar()">Limpar</button>
          </div>
          <div class="btn-filter-end">
              <button mat-flat-button class="botao-salvar btn-insert" (click)="inserir()">Inserir</button>
          </div>
      </div>
      

  </mat-expansion-panel>
</mat-accordion>

<div class="mat-elevation-z8" style="margin-right: 20px; margin-left: 20px;">
    <div class="mat-elevation-z4" >

      <table mat-table [dataSource]="productsList">

        <ng-container matColumnDef="Ações">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element" >
              <a routerLink="/produtos/{{element.id}}" routerLinkActive="selected">
                <mat-icon>
                  <span class="material-symbols-outlined btn-edit">edit</span>
                </mat-icon>
              </a>
              <a (click)="delete(element.id, '1ms', '1ms');$event.stopPropagation()">
                <mat-icon style="cursor: pointer;">
                  <span class="material-symbols-outlined btn-delete" >delete</span>
                </mat-icon>
              </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element" >
                {{element.name}}
          </td>
        </ng-container>

         <ng-container matColumnDef="Valor">
                 <th mat-header-cell *matHeaderCellDef>Valor</th>
                 <td mat-cell *matCellDef="let element" style="min-width: 40px; text-align: left;">
                     {{ element.value }}</td>
         </ng-container>

        <ng-container matColumnDef="Categoria">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element" style="min-width: 40px; text-align: left;">
              {{ element.category.name }}</td>
        </ng-container>

        <ng-container matColumnDef="Quantidade Estoque">
          <th mat-header-cell *matHeaderCellDef>Quantidade Estoque</th>
          <td mat-cell *matCellDef="let element" style="min-width: 40px; text-align: left;">
              {{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="ProdutoDestaque">
          <th mat-header-cell *matHeaderCellDef>Produto destaque</th>
          <td mat-cell *matCellDef="let element" style="min-width: 40px; text-align: left;">
              {{ element.featuredProduct }}</td>
        </ng-container>

        <ng-container matColumnDef="Inativo">
          <th mat-header-cell *matHeaderCellDef>Inativo</th>
          <td mat-cell *matCellDef="let element" style="min-width: 40px; text-align: left;">
              {{ element.inactive }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: _columns;" (click)="rowSelected(row)"></tr>

     </table>
  
      <mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[20, 50, 100]"
          showFirstLastButtons aria-label="Quantidade de itens" (page)="getPaginatorData($event)">
      </mat-paginator>
  </div>
  