.form-login{
    width: 40%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}

img{
    width: 130px;
    margin-bottom: 10px;
}

button{
    margin-left: 0;
    margin-top: 10px;
}