
<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
        <mat-nav-list>
    
            <mat-list-item  routerLink="" routerLinkActive="selected">
                <mat-icon mat-list-icon>home </mat-icon>
                <span *ngIf="isExpanded" class="menu-item" >Início</span>
            </mat-list-item>

            <mat-list-item routerLink="categorias" routerLinkActive="selected">
                <mat-icon mat-list-icon>
                    <span class="material-symbols-outlined">category</span>
                </mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Categorias</span>
            </mat-list-item>
    
            <mat-list-item routerLink="produtos" routerLinkActive="selected">
                <mat-icon mat-list-icon>shopping_bag</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Produtos</span>
            </mat-list-item>

            <mat-list-item routerLink="funcionarios" routerLinkActive="selected">
                <mat-icon mat-list-icon>person_apron</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Funcionários</span>
            </mat-list-item>

            <mat-list-item routerLink="frete" routerLinkActive="selected">
                <mat-icon mat-list-icon>local_shipping</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Frete</span>
            </mat-list-item>

            <mat-list-item routerLink="pagamentos" routerLinkActive="selected">
                <mat-icon mat-list-icon>payments</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Formas de Pagamento</span>
            </mat-list-item>

            <mat-list-item routerLink="imagensdestaque" routerLinkActive="selected">
                <mat-icon mat-list-icon>image</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Imagens Destaque</span>
            </mat-list-item>

            <mat-list-item routerLink="vendas" routerLinkActive="selected">
                <mat-icon mat-list-icon>point_of_sale</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Vendas</span>
            </mat-list-item>

            <mat-list-item routerLink="clientes" routerLinkActive="selected">
                <mat-icon mat-list-icon>groups</mat-icon>
                <span *ngIf="isExpanded" class="menu-item">Clientes</span>
            </mat-list-item>

            
    
        </mat-nav-list>
    </mat-sidenav>
  
    <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
    <section class="conteudo-principal">
        <router-outlet></router-outlet>
    </section>

</mat-sidenav-container>


