.example-container {
    height: 100%;
    margin: 10px;
    
}

.conteudo-principal{
    height: 100%; 
    
}

.drawer{
    padding: 0 100px !important;
}

a{
    color: var(--secundary);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}