<mat-accordion class="example-headers-align">
    <mat-expansion-panel class="mat-elevation-z0" hideToggle (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title >
                Informações do Produto
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="example-form">

            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px" >
                <mat-form-field floatLabel="always"  class="example-full-width" fxFlex="1 1 auto">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput [formControl]="nomeFormControl" [errorStateMatcher]="matcher"
                            placeholder="Informe o nome do produto" [(ngModel)]="model.Name">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="nomeFormControl.hasError('required')">
                        Forneça um nome para o produto
                    </mat-error>
                </mat-form-field>
                
                
                <mat-form-field floatLabel="always"  class="example-full-width" fxFlex="1 1 auto">
                    <mat-label>Valor</mat-label>
                    <input  matInput currencyMask [options]="{align: 'left', prefix: 'R$'}"  [formControl]="valorFormControl" [errorStateMatcher]="matcher"
                            placeholder="Informe o valor do produto" [(ngModel)]="model.Value">
                    <mat-hint></mat-hint>
                    <mat-error *ngIf="valorFormControl.hasError('required')">
                        Forneça um valor para o produto
                    </mat-error>
                </mat-form-field>

                <mat-form-field floatLabel="always"  class="example-full-width" fxFlex="1 1 auto">
                    <mat-label>Categoria</mat-label>
                    <mat-select [(ngModel)]="model.Category" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox [(ngModel)]="model.FeaturedProduct" name="Produto em Destaque">Produto em Destaque</mat-checkbox>

            </div>
            
            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px" >
                <mat-form-field style="width: 60%;" class="example-full-width" >
                    <mat-label>Descrição</mat-label>
                    <textarea  matInput placeholder="Forneça a Descrição" ng-model="model.Description"></textarea>
                </mat-form-field>
            </div>


            <section class="section-save">
                <div class="example-button-row">
                  <button mat-flat-button class="botao-salvar">Salvar</button>
                  <button mat-flat-button class="botao-cancelar" (click)="cancelar()">Cancelar</button>
                </div>
            </section>

            
        </form>

    </mat-expansion-panel>


</mat-accordion>