<mat-accordion class="example-headers-align">
    <mat-expansion-panel class="mat-elevation-z0" >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Informações do Produto
            </mat-panel-title>
        </mat-expansion-panel-header>


        <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
            <div class="col-lg-5">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Nome
                    </label>
                </div>

                <div class="">
                    <input class="input-style" [(ngModel)]='model.name' name="descricao" type="text">
                </div>
            </div>

            <div class="col-lg-2">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Quantidade
                    </label>
                </div>

                <div class="">
                    <input class="input-style" [(ngModel)]='model.amount' name="descricao" type="number">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Valor
                    </label>
                </div>

                <div class="">
                    <input class="input-style" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','"
                        prefix="R$ " type="text" [dropSpecialCharacters]="true" [(ngModel)]='model.value'
                        name="descricao" type="text" maxlength="200">
                </div>
            </div>
        </div>
        <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">

            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Categoria
                    </label>
                </div>
                <select class="input-style" [(ngModel)]="model.categoryID"
                    (ngModelChange)="buscaSubcategorias(model.categoryID)">
                    <option *ngFor="let category of categoriesList" [value]="category.id">{{category.name}}</option>
                </select>

            </div>

            <div class="col-lg-3" *ngIf="subcategories">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Subcategorias
                    </label>
                </div>
                <select class="input-style" multiple [(ngModel)]="subcategoriesproduct">
                    <option *ngFor="let sub of subcategories" [value]="sub.id">{{sub.name}}</option>
                </select>

            </div>


            <div >
                <mat-checkbox class="" color="primary" labelPosition="before"
                    [(ngModel)]="model.featuredProduct">Produto em destaque</mat-checkbox>
            </div>

        </div>

        <div style="margin-left: 8px; margin-right: 10px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">

            <div class="label-style">
                <label class="pull-right label-title">
                    Descrição
                </label>
            </div>

            <div class="col-lg-12">
                <div class="">
                    <textarea class="input-style"  [(ngModel)]="model.description" name="textoPushApp" rows="3" cols="20"></textarea>
                </div>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title>
                Galeria de fotos
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px" style="margin-left: 20px">
            <button mat-button mat-raised-button style="background-color: var(--primary); color: var(--text-body);"
                (click)="imagem.click()">
                Selecione as imagens
            </button>
            <input type="file" #imagem multiple name="files" (change)="fileImage($event)" style="display: none;" />
        </div>

        <div style="margin-left: 8px;" *ngFor="let image of model.photos; let indexC = index" class="imageList">
            <img [src]="image.urlImage">
            <button mat-icon-button (click)="model.photos.splice(indexC, 1); removerImagem(image)">
                <mat-icon title="Remover imagem" style="color: var(--primary);">delete</mat-icon>
            </button>
        </div>

        <section class="section-save">
            <div class="example-button-row">
                <button mat-flat-button class="botao-salvar" (click)="salvar()">Salvar</button>
                <button mat-flat-button class="botao-cancelar" (click)="cancelar()">Cancelar</button>
            </div>
        </section>
    </mat-expansion-panel>


</mat-accordion>