<mat-accordion class="example-headers-align">
    <mat-expansion-panel class="mat-elevation-z0" hideToggle >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Informações da compra
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
            <div class="col-lg-5">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Identificação do pedido
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='model.name' name="descricao" type="text">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Valor
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','"
                        prefix="R$ " type="text" [dropSpecialCharacters]="true" [(ngModel)]='model.valorTotal'
                        name="descricao" type="text" maxlength="200">
                </div>
            </div>
        </div>

        <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
            
            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Forma de pagamento
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='model.paymentMethod' name="descricao" type="text">
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Status de pagamento
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='model.paymentStatus' name="descricao" type="text">
                </div>
            </div>
            
            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Status de entrega
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='model.deliveryStatus' name="descricao" type="text">
                </div>
            </div>

            
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" hideToggle >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Dados do Cliente
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div  style="margin-left: 15px;" class="row row-filter listaPedidos" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">

            <div  style="margin-left: 15px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Nome
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.client.name' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-3">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Telefone
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" mask="(00)00000-0000"[(ngModel)]='model.client.phone' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-3">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            CPF
                        </label>
                    </div>
                    <div class="">
                        <input disabled class="input-style" mask="000.000.000-00" [(ngModel)]='model.client.cpf' name="descricao" type="text">
                    </div>
                </div>
            </div>
            <div  style="margin-left: 15px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-4">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            E-mail
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.client.email' name="descricao" type="text">
                    </div>
                </div>
    
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" hideToggle >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Endereço de entrega
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div  style="margin-left: 15px;" class="row row-filter listaPedidos" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">

            <div  style="margin-left: 15px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-2">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            CEP
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.cep' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Rua
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.street' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-3">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Número
                        </label>
                    </div>
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.number' name="descricao" type="text">
                    </div>
                    
                </div>
    
            </div>
            

            <div  style="margin-left: 15px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-4">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Complemento
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.complement' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Referência
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.reference' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Bairro
                        </label>
                    </div>
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.neighborhood' name="descricao" type="text">
                    </div>
                    
                </div>
            </div>

            <div  style="margin-left: 15px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-6">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Cidade
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.city' name="descricao" type="text">
                    </div>
                </div>
    
                <div class="col-lg-2">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Estado
                        </label>
                    </div>
    
                    <div class="">
                        <input disabled class="input-style" [(ngModel)]='model.address.state' name="descricao" type="text">
                    </div>
                </div>
            </div>
        </div>

        

    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" hideToggle >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Itens do pedido
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div  style="margin-left: 15px;" *ngFor="let product of model.products;" class="row row-filter listaPedidos" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
            <div class="col-lg-3">
                <img [src]="product.photos[0].urlImage" class="image">
            </div>
            <div class="col-lg-4">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Nome
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='product.name' name="descricao" type="text">
                </div>
            </div>

            <div *ngIf="product.colors.length > 0" class="col-lg-4">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Cor
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='product.colors[0].name' name="descricao" type="text">
                </div>
            </div>

            <div class="col-lg-2">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Quantidade
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" [(ngModel)]='product.amount' name="descricao" type="text">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Valor unitário
                    </label>
                </div>

                <div class="">
                    <input disabled class="input-style" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','"
                        prefix="R$ " type="text" [dropSpecialCharacters]="true" [(ngModel)]='product.value'
                        name="descricao" type="text" maxlength="200">
                </div>
            </div>
        </div>

        

    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0" hideToggle >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ações
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div style="margin-left: 20px; margin-bottom: 10px;" class="example-button-row">
            <button *ngIf="model.paymentStatus === 'Pendente'" mat-flat-button 
                class="botao-salvar acoes" (click)="confirmarPagamento()">Confirmar pagamento</button>
            
            <button *ngIf="model.paymentStatus === 'Pago'" mat-flat-button 
                class="botao-salvar acoes" (click)="confirmarPagamento()">Cancelar pagamento</button>
        </div>

        <div *ngIf="model.paymentStatus == 'Pago'" style="margin-left: 20px; margin-bottom: 10px;" class="example-button-row">
            <p  *ngIf="model.deliveryStatus !== 'Devolvido'">Mudar Status de Entrega</p>
            <button *ngIf="model.deliveryStatus === 'Pendente' " mat-flat-button class="botao-salvar" (click)="statusEntrega()">Separar Pedido</button>
            <button *ngIf="model.deliveryStatus === 'Sendo separado'" mat-flat-button class="botao-salvar" (click)="statusEntrega()">Pedido saiu para entrega</button>
            <button *ngIf="model.deliveryStatus === 'Saiu para a entrega' " mat-flat-button class="botao-salvar" (click)="statusEntrega()">Pedido entregue</button>
            <button *ngIf="model.deliveryStatus === 'Entregue'" mat-flat-button class="botao-salvar" (click)="statusEntrega()">Devolver pedido</button>

        </div>

    </mat-expansion-panel>

    <section class="section-save">
        <div class="example-button-row">
            <button mat-flat-button class="botao-cancelar" (click)="cancelar()">Voltar</button>
        </div>
    </section>
</mat-accordion>