
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$loja-web-primary: mat.define-palette(mat.$red-palette, A700);
$loja-web-accent: mat.define-palette(mat.$red-palette, A700);

// The warn palette is optional (defaults to red).
$loja-web-warn: mat.define-palette(mat.$red-palette, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$loja-web-theme: mat.define-light-theme((
  color: (
    primary: $loja-web-primary,
    accent: $loja-web-accent,
    warn: $loja-web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($loja-web-theme);

:root {
  --primary: #f10303;  //#ec0000;
  --secundary: #f10303;
  --body: #FAFAFA;
  --text-menu: #4b4b4b;
  --text-body: #fff;
  --title: #f10303;
  //--title: #F44336;
  --line: #BDBDBD;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




mat-form-field{
  width: 350px;
  margin: 20px ;
  
}

mat-panel-title{
  color: var(--title);
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  margin-left: 21px;
}



.botao-salvar{
  background-color: var(--title) !important;
  margin-right: 10px;
  color: #fff !important;
  box-shadow: 2px 2px 2px #BDBDBD;
}

.botao-cancelar{
  background-color: #fff !important;
  margin-right: 10px;
  color: var(--title) !important;
  box-shadow: 2px 2px 2px #BDBDBD;
  border: 1px solid #BDBDBD;
}

.section-save{
  text-align: center;
  margin-top: 20px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

table, th, td, mat-paginator{
  border: solid 1px #BDBDBD;
}

th{
  color: var(--title);
}

.btn-edit{
  color: var(--title);
}

.btn-delete{
  color: var(--text-menu);
}

.btn-search{
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-insert{
  margin-left: 20px;
  margin-bottom: 20px;
}


.flex{
  display: flex;
}

.btn-filter{
  flex: 1 auto;
}

.btn-filter-end{
  margin-right: 12px;
}


.label-style{
  display: flex;
  float: left;
}

.label-title{
  opacity: .73;
  padding-top: 1px;
}

.input-style{
  border-radius: 4px; 
  border: 1px solid #ccc; 
  width: 100%;
  min-height: 1.58rem;
}

.div-checkbox-position{
  margin-top: 2rem;
}

.checkbox-position {
  transform: translateY(22px);
}

