<mat-accordion class="example-headers-align">
    <mat-expansion-panel class="mat-elevation-z0" hideToggle (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title >
                Informações do funcionário
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="example-form">


            <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Nome
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" [(ngModel)]='model.name' name="name" type="text">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Telefone
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" mask="(00)00000-0000" [(ngModel)]='model.phone' name="phone" type="text">
                    </div>
                </div>

            </div>

            <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            CPF
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" mask="000.000.000-00" [(ngModel)]='model.cpf' name="cpf" type="text">
                    </div>
                </div>
                
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Data Nascimento
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" mask="00/00/0000" [(ngModel)]='model.birthDate' name="date" type="text">
                    </div>
                    
                </div>
            </div>

            <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            E-mail
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" [(ngModel)]='model.email' name="email" type="text">
                    </div>
                </div>

                <div class="col-lg-5" *ngIf="!isEdit">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Senha
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" mask="000.000.000-00" [(ngModel)]='model.password' name="cpf" type="password">
                    </div>
                </div>
                
                <div >
                    <mat-checkbox class="" color="primary" labelPosition="before"
                        [(ngModel)]="model.inactive" name="senha">Funcionário Inativo</mat-checkbox>
                </div>

            </div>

        </form>  

           
        <section class="section-save">
            <div class="example-button-row">
                <button mat-flat-button class="botao-salvar" (click)="salvar()">Salvar</button>
                <button mat-flat-button class="botao-cancelar" (click)="cancelar()">Cancelar</button>
            </div>
        </section>

    </mat-expansion-panel>


</mat-accordion>