<mat-accordion class="example-headers-align">
    <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title >
                Informações da categoria
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form class="example-form">

            <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Nome
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" [(ngModel)]='model.name' name="descricao" type="text">
                    </div>
                </div>

                <div >
                    <mat-checkbox class="" color="primary" labelPosition="before"
                        [(ngModel)]="model.inactive">Inativa</mat-checkbox>
                </div>
                
            </div>

        </form>

    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title >
                Informações das subcategoria
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let category of model.subcategories; let indexC = index" style="margin-left: 20px;">
            <div  class="subcategorias">
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Nome
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" [(ngModel)]='model.name' name="descricao" type="text">
                    </div>
                </div>
                <button mat-icon-button (click)="model.subcategories.splice(indexC, 1)" >
                    <mat-icon title="Remover subcategoria" style="color: var(--primary)">delete</mat-icon>
                </button>    
                
            </div>
        </div>
        

        <div fxLayout="row" fxLayoutAlign="start center" style="margin-left: 10px;">
            <button mat-icon-button (click)="newSubcategory()" >
                <mat-icon style="color: var(--primary)">add_circle</mat-icon>
            </button>
            <span style="opacity: .54; cursor: pointer; " (click)="newSubcategory();">Adicionar Subcategoria</span>
        </div>
    </mat-expansion-panel>

    <section class="section-save">
        <div class="example-button-row">
          <button mat-flat-button class="botao-salvar" (click)="salvar()">Salvar</button>
          <button mat-flat-button class="botao-cancelar" (click)="cancelar()">Cancelar</button>
        </div>
    </section>



</mat-accordion>