
<mat-accordion class="example-headers-align">
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title >
                Informações do Frete
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div style="margin-left: 8px;" class="row row-filter" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0%">
                
            <div class="col-lg-4">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Valor do KM
                    </label>
                </div>

                <div class="">
                    <input class="input-style" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','"
                    prefix="R$ " type="text" [dropSpecialCharacters]="true" [(ngModel)]='model.valueKm' name="valueKm" type="text">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Valor Mínimo frete grátis
                    </label>
                </div>

                <div class="">
                    <input class="input-style" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','"
                    prefix="R$ " type="text" [dropSpecialCharacters]="true" [(ngModel)]='model.valuePriceFreeShipping' name="valueKm" type="text">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="label-style">
                    <label class="pull-right label-title">
                        Quantidade dias entrega
                    </label>
                </div>

                <div class="">
                    <input class="input-style" [(ngModel)]='model.timeDeliveryDays' name="valueKm" type="number">
                </div>
            </div>
        </div>
            
    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title >
                Cidades com frete grátis
            </mat-panel-title>
            <span>Informe apenas o CEP</span>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let city of model.cities; let indexC = index" style="margin-left: 20px;">
            <div  class="frete">
                <div class="col-lg-5">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            CEP
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" mask="00000-000" [(ngModel)]='city.cep' name="descricao" type="text">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="label-style">
                        <label class="pull-right label-title">
                            Valor
                        </label>
                    </div>
    
                    <div class="">
                        <input class="input-style" mask="separator.2" [thousandSeparator]="'.'" [decimalMarker]="','"
                        prefix="R$ " type="text" [dropSpecialCharacters]="true" [(ngModel)]='city.value' name="valueKm" type="text">
                    </div>
                </div>
                <button mat-icon-button (click)="model.cities.splice(indexC, 1)" >
                    <mat-icon title="Remover cidade" style="color: var(--primary)">delete</mat-icon>
                </button>    
                
            </div>
        </div>
        

        <div fxLayout="row" fxLayoutAlign="start center" style="margin-left: 10px;">
            <button mat-icon-button (click)="newCity()" >
                <mat-icon style="color: var(--primary)">add_circle</mat-icon>
            </button>
            <span style="opacity: .54; cursor: pointer; " (click)="newCity();">Adicionar Cidade</span>
        </div>
    </mat-expansion-panel>

    <section class="section-save">
        <div class="example-button-row">
          <button mat-flat-button class="botao-salvar" (click)="salvar()">Salvar</button>
          <button mat-flat-button class="botao-cancelar" (click)="cancelar()">Cancelar</button>
        </div>
    </section>
</mat-accordion>